.container {
    text-align: center;
    margin: 50px;
    border: 1px solid white;
    border-radius: 8px;
    width: 100%;

}

#display {
    border: 1px solid white;
    border-radius: 8px;
    height: 30px;
    color: red
}

.whole-drum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 50px auto;
    width: min-content;
}

.drum-pad {
    width: 90px;
    height: 90px;
    border: 2px solid white;
    background-color: #3f3f3f;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.02s ease-in-out;
}

.drum-pad:active {
    transform: scale(0.9);
    border: 2px solid red;
}